In [8]:
import pandas as pd

df = pd.read_csv('/content/Hotel_Reviews.csv')

In [9]:
# View the first few rows of the dataset
print(df.head())

# Check the shape (rows and columns) of the dataset
print(f"Dataset Shape: {df.shape}")

# Summary of columns and their data types
print(df.info())

                                       Hotel_Address  \
0   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
1   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
2   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
3   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
4   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...

   Additional_Number_of_Scoring Review_Date  Average_Score   Hotel_Name  \
0                           194    8/3/2017            7.7  Hotel Arena
1                           194    8/3/2017            7.7  Hotel Arena
2                           194   7/31/2017            7.7  Hotel Arena
3                           194   7/31/2017            7.7  Hotel Arena
4                           194   7/24/2017            7.7  Hotel Arena

  Reviewer_Nationality                                    Negative_Review  \
0              Russia    I am so angry that i made this post available...
1             Ireland                                         No Negative
2           Australia    Rooms are nice but for elderly a bit difficul...
3      United Kingdom    My room was dirty and I was afraid to walk ba...
4         New Zealand    You When I booked with your company on line y...

   Review_Total_Negative_Word_Counts  Total_Number_of_Reviews  \
0                              397.0                   1403.0
1                                0.0                   1403.0
2                               42.0                   1403.0
3                              210.0                   1403.0
4                              140.0                   1403.0

                                     Positive_Review  \
0   Only the park outside of the hotel was beauti...
1   No real complaints the hotel was great great ...
2   Location was good and staff were ok It is cut...
3   Great location in nice surroundings the bar a...
4    Amazing location and building Romantic setting

   Review_Total_Positive_Word_Counts  \
0                               11.0
1                              105.0
2                               21.0
3                               26.0
4                                8.0

   Total_Number_of_Reviews_Reviewer_Has_Given  Reviewer_Score  \
0                                         7.0             2.9
1                                         7.0             7.5
2                                         9.0             7.1
3                                         1.0             3.8
4                                         3.0             6.7

                                                Tags days_since_review  \
0  [' Leisure trip ', ' Couple ', ' Duplex Double...            0 days
1  [' Leisure trip ', ' Couple ', ' Duplex Double...            0 days
2  [' Leisure trip ', ' Family with young childre...            3 days
3  [' Leisure trip ', ' Solo traveler ', ' Duplex...            3 days
4  [' Leisure trip ', ' Couple ', ' Suite ', ' St...           10 days

         lat       lng
0  52.360576  4.915968
1  52.360576  4.915968
2  52.360576  4.915968
3  52.360576  4.915968
4  52.360576  4.915968
Dataset Shape: (132874, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132874 entries, 0 to 132873
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               132874 non-null  object
 1   Additional_Number_of_Scoring                132874 non-null  int64
 2   Review_Date                                 132873 non-null  object
 3   Average_Score                               132873 non-null  float64
 4   Hotel_Name                                  132873 non-null  object
 5   Reviewer_Nationality                        132873 non-null  object
 6   Negative_Review                             132873 non-null  object
 7   Review_Total_Negative_Word_Counts           132873 non-null  float64
 8   Total_Number_of_Reviews                     132873 non-null  float64
 9   Positive_Review                             132873 non-null  object
 10  Review_Total_Positive_Word_Counts           132873 non-null  float64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  132873 non-null  float64
 12  Reviewer_Score                              132873 non-null  float64
 13  Tags                                        132873 non-null  object
 14  days_since_review                           132873 non-null  object
 15  lat                                         132781 non-null  float64
 16  lng                                         132781 non-null  float64
dtypes: float64(8), int64(1), object(8)
memory usage: 17.2+ MB
None

In [10]:
# Check for missing values in each column
print(df.isnull().sum())

# Option 2: Fill missing values (e.g., with a default value like 0 or 'Unknown')
df['Negative_Review'] = df['Negative_Review'].fillna('No Negative')
df['Positive_Review'] = df['Positive_Review'].fillna('No Positive')

# For numerical columns, you can fill missing values with the mean or median
df['Reviewer_Score'] = df['Reviewer_Score'].fillna(df['Reviewer_Score'].mean())

Hotel_Address                                  0
Additional_Number_of_Scoring                   0
Review_Date                                    1
Average_Score                                  1
Hotel_Name                                     1
Reviewer_Nationality                           1
Negative_Review                                1
Review_Total_Negative_Word_Counts              1
Total_Number_of_Reviews                        1
Positive_Review                                1
Review_Total_Positive_Word_Counts              1
Total_Number_of_Reviews_Reviewer_Has_Given     1
Reviewer_Score                                 1
Tags                                           1
days_since_review                              1
lat                                           93
lng                                           93
dtype: int64

In [11]:
df = df.drop(columns=['lat', 'lng'])

In [12]:
print(df.head())

                                       Hotel_Address  \
0   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
1   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
2   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
3   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
4   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...

   Additional_Number_of_Scoring Review_Date  Average_Score   Hotel_Name  \
0                           194    8/3/2017            7.7  Hotel Arena
1                           194    8/3/2017            7.7  Hotel Arena
2                           194   7/31/2017            7.7  Hotel Arena
3                           194   7/31/2017            7.7  Hotel Arena
4                           194   7/24/2017            7.7  Hotel Arena

  Reviewer_Nationality                                    Negative_Review  \
0              Russia    I am so angry that i made this post available...
1             Ireland                                         No Negative
2           Australia    Rooms are nice but for elderly a bit difficul...
3      United Kingdom    My room was dirty and I was afraid to walk ba...
4         New Zealand    You When I booked with your company on line y...

   Review_Total_Negative_Word_Counts  Total_Number_of_Reviews  \
0                              397.0                   1403.0
1                                0.0                   1403.0
2                               42.0                   1403.0
3                              210.0                   1403.0
4                              140.0                   1403.0

                                     Positive_Review  \
0   Only the park outside of the hotel was beauti...
1   No real complaints the hotel was great great ...
2   Location was good and staff were ok It is cut...
3   Great location in nice surroundings the bar a...
4    Amazing location and building Romantic setting

   Review_Total_Positive_Word_Counts  \
0                               11.0
1                              105.0
2                               21.0
3                               26.0
4                                8.0

   Total_Number_of_Reviews_Reviewer_Has_Given  Reviewer_Score  \
0                                         7.0             2.9
1                                         7.0             7.5
2                                         9.0             7.1
3                                         1.0             3.8
4                                         3.0             6.7

                                                Tags days_since_review
0  [' Leisure trip ', ' Couple ', ' Duplex Double...            0 days
1  [' Leisure trip ', ' Couple ', ' Duplex Double...            0 days
2  [' Leisure trip ', ' Family with young childre...            3 days
3  [' Leisure trip ', ' Solo traveler ', ' Duplex...            3 days
4  [' Leisure trip ', ' Couple ', ' Suite ', ' St...           10 days

In [15]:
import pandas as pd
df = pd.read_csv("/content/cleaned_hospitality_data.csv")

# Combine positive_review and negative_review into a single 'review' column
df['review'] = df['Positive_Review'].fillna('') + ' ' + df['Negative_Review'].fillna('')

# Remove leading/trailing spaces and empty reviews
df['review'] = df['review'].str.strip()
df = df[df['review'] != '']

# Drop the original positive and negative review columns
df = df.drop(columns=['Negative_Review', 'Positive_Review'])

# Save the modified dataset to a new CSV file
df.to_csv("Hotelreview.csv", index=False)