In [17]:
import pandas as pd

df = pd.read_csv('/content/Hotel_Reviews.csv')

In [13]:
# View the first few rows of the dataset
print(df.head())

# Check the shape (rows and columns) of the dataset
print(f"Dataset Shape: {df.shape}")

# Summary of columns and their data types
print(df.info())

                                       Hotel_Address  \
0   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
1   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
2   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
3   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
4   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...

   Additional_Number_of_Scoring Review_Date  Average_Score   Hotel_Name  \
0                           194    8/3/2017            7.7  Hotel Arena
1                           194    8/3/2017            7.7  Hotel Arena
2                           194   7/31/2017            7.7  Hotel Arena
3                           194   7/31/2017            7.7  Hotel Arena
4                           194   7/24/2017            7.7  Hotel Arena

  Reviewer_Nationality                                    Negative_Review  \
0              Russia    I am so angry that i made this post available...
1             Ireland                                         No Negative
2           Australia    Rooms are nice but for elderly a bit difficul...
3      United Kingdom    My room was dirty and I was afraid to walk ba...
4         New Zealand    You When I booked with your company on line y...

   Review_Total_Negative_Word_Counts  Total_Number_of_Reviews  \
0                                397                     1403
1                                  0                     1403
2                                 42                     1403
3                                210                     1403
4                                140                     1403

                                     Positive_Review  \
0   Only the park outside of the hotel was beauti...
1   No real complaints the hotel was great great ...
2   Location was good and staff were ok It is cut...
3   Great location in nice surroundings the bar a...
4    Amazing location and building Romantic setting

   Review_Total_Positive_Word_Counts  \
0                                 11
1                                105
2                                 21
3                                 26
4                                  8

   Total_Number_of_Reviews_Reviewer_Has_Given  Reviewer_Score  \
0                                           7             2.9
1                                           7             7.5
2                                           9             7.1
3                                           1             3.8
4                                           3             6.7

                                                Tags days_since_review  \
0  [' Leisure trip ', ' Couple ', ' Duplex Double...            0 days
1  [' Leisure trip ', ' Couple ', ' Duplex Double...            0 days
2  [' Leisure trip ', ' Family with young childre...            3 days
3  [' Leisure trip ', ' Solo traveler ', ' Duplex...            3 days
4  [' Leisure trip ', ' Couple ', ' Suite ', ' St...           10 days

         lat       lng
0  52.360576  4.915968
1  52.360576  4.915968
2  52.360576  4.915968
3  52.360576  4.915968
4  52.360576  4.915968
Dataset Shape: (515738, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Review_Date                                 515738 non-null  object
 3   Average_Score                               515738 non-null  float64
 4   Hotel_Name                                  515738 non-null  object
 5   Reviewer_Nationality                        515738 non-null  object
 6   Negative_Review                             515738 non-null  object
 7   Review_Total_Negative_Word_Counts           515738 non-null  int64
 8   Total_Number_of_Reviews                     515738 non-null  int64
 9   Positive_Review                             515738 non-null  object
 10  Review_Total_Positive_Word_Counts           515738 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 12  Reviewer_Score                              515738 non-null  float64
 13  Tags                                        515738 non-null  object
 14  days_since_review                           515738 non-null  object
 15  lat                                         512470 non-null  float64
 16  lng                                         512470 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB
None

In [14]:
# Check for missing values in each column
print(df.isnull().sum())

# Option 2: Fill missing values (e.g., with a default value like 0 or 'Unknown')
df['Negative_Review'] = df['Negative_Review'].fillna('No Negative')
df['Positive_Review'] = df['Positive_Review'].fillna('No Positive')

# For numerical columns, you can fill missing values with the mean or median
df['Reviewer_Score'] = df['Reviewer_Score'].fillna(df['Reviewer_Score'].mean())

Hotel_Address                                    0
Additional_Number_of_Scoring                     0
Review_Date                                      0
Average_Score                                    0
Hotel_Name                                       0
Reviewer_Nationality                             0
Negative_Review                                  0
Review_Total_Negative_Word_Counts                0
Total_Number_of_Reviews                          0
Positive_Review                                  0
Review_Total_Positive_Word_Counts                0
Total_Number_of_Reviews_Reviewer_Has_Given       0
Reviewer_Score                                   0
Tags                                             0
days_since_review                                0
lat                                           3268
lng                                           3268
dtype: int64

In [15]:
df = df.drop(columns=['lat', 'lng'])

In [10]:
print(df.head())

                                       Hotel_Address  \
0   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
1   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
2   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
3   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
4   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...

   Additional_Number_of_Scoring Review_Date  Average_Score   Hotel_Name  \
0                           194    8/3/2017            7.7  Hotel Arena
1                           194    8/3/2017            7.7  Hotel Arena
2                           194   7/31/2017            7.7  Hotel Arena
3                           194   7/31/2017            7.7  Hotel Arena
4                           194   7/24/2017            7.7  Hotel Arena

  Reviewer_Nationality                                    Negative_Review  \
0              Russia    I am so angry that i made this post available...
1             Ireland                                         No Negative
2           Australia    Rooms are nice but for elderly a bit difficul...
3      United Kingdom    My room was dirty and I was afraid to walk ba...
4         New Zealand    You When I booked with your company on line y...

   Review_Total_Negative_Word_Counts  Total_Number_of_Reviews  \
0                                397                     1403
1                                  0                     1403
2                                 42                     1403
3                                210                     1403
4                                140                     1403

                                     Positive_Review  \
0   Only the park outside of the hotel was beauti...
1   No real complaints the hotel was great great ...
2   Location was good and staff were ok It is cut...
3   Great location in nice surroundings the bar a...
4    Amazing location and building Romantic setting

   Review_Total_Positive_Word_Counts  \
0                               11.0
1                              105.0
2                               21.0
3                               26.0
4                                8.0

   Total_Number_of_Reviews_Reviewer_Has_Given  Reviewer_Score  \
0                                         7.0             2.9
1                                         7.0             7.5
2                                         9.0             7.1
3                                         1.0             3.8
4                                         3.0             6.7

                                                Tags days_since_review
0  [' Leisure trip ', ' Couple ', ' Duplex Double...            0 days
1  [' Leisure trip ', ' Couple ', ' Duplex Double...            0 days
2  [' Leisure trip ', ' Family with young childre...            3 days
3  [' Leisure trip ', ' Solo traveler ', ' Duplex...            3 days
4  [' Leisure trip ', ' Couple ', ' Suite ', ' St...           10 days

In [16]:
# Save the cleaned dataset to a new CSV file
df_cleaned.to_csv('cleaned_hospitality_data.csv', index=False)